In [1]:
# Functions

In [2]:
def add_function(val1, val2):
    return val1 + val2

In [3]:
add_function(10, 20)

30

In [4]:
# Two Sum
def two_sum(nums, target):
    map = dict()
    for i, num in enumerate(nums):
        if target - num in map:
            return [i, map[target - num]]
        else:
            map[num] = i

In [5]:
two_sum(nums = [2,7,11,15], target = 9)

[1, 0]

In [6]:
# Palindrome Number

def isPalindrome(self, x):
    if x < 0:
        return False
    
    digits = [c for c in str(x)]
    left, right = 0, len(digits) - 1

    while left < right:
        if digits[left] != digits[right]:
            return False
            
        left += 1
        right -= 1
    
    return True

In [7]:
isPalindrome(None, 123454321)

True

In [8]:
isPalindrome(None, -555)

False

In [9]:
# Max Salary and max age (Tuple unpacking through functions)

def max_sal_max_age(employees):
    max_sal, max_age = 0, 0
    for _, age, sal in employees:
        max_sal = max(sal, max_sal)
        max_age = max(age, max_age)

    return (max_sal, max_age)

In [10]:
max_sal, max_age = max_sal_max_age([('Ranjan', 30, 10000), ('Deepak', 35, 35000), ('Jigar', 42, 20000), ('Saikat', 38, 8000)])

In [11]:
max_sal

35000

In [12]:
max_age

42

In [13]:
# Sort Numbers (Bubble Sort) Multiple functions

def sort(nums):
    for i in range(len(nums) - 1):
        for j in range(len(nums) - i - 1):
            if nums[j] > nums[j + 1]:
                swap(nums, j, j+1)
        print(f'i = {i} => {nums}')
        
    return nums
                
def swap(nums, i, j):
    temp = nums[i]
    nums[i] = nums[j]
    nums[j] = temp

In [14]:
sort([5,7,4,2,6,8,1,3])

i = 0 => [5, 4, 2, 6, 7, 1, 3, 8]
i = 1 => [4, 2, 5, 6, 1, 3, 7, 8]
i = 2 => [2, 4, 5, 1, 3, 6, 7, 8]
i = 3 => [2, 4, 1, 3, 5, 6, 7, 8]
i = 4 => [2, 1, 3, 4, 5, 6, 7, 8]
i = 5 => [1, 2, 3, 4, 5, 6, 7, 8]
i = 6 => [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
# Sort Numbers (Bubble Sort) Multiple functions

def merge_sort(nums):
    return helper(nums, 0, len(nums) - 1)

def helper(nums, l, r):
    if l == r:
        return [nums[l]]
        
    mid = int((l + r) / 2)
    left = helper(nums, l, mid)
    right = helper(nums, mid + 1, r)
    
    return merge(left, right)
                
def merge(l1, l2):
    result = list()
    i = j = 0
    
    while i < len(l1) and j < len(l2):
        if l1[i] < l2[j]:
            result.append(l1[i])
            i += 1
        else:
            result.append(l2[j])
            j += 1

    while i < len(l1):
        result.append(l1[i])
        i += 1
        
    while j < len(l2):
        result.append(l2[j])
        j += 1

    return result

In [16]:
merge_sort([5,7,4,2,6,8,1,3])

[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
# Inner Functions

def func(name='Ranjan'):
    print('func() called')

    def hello():
        return f'Hello {name}'

    return hello

In [43]:
func('Deepak')()

func() called

'Hello Deepak'

In [62]:
# Function as Argument / Lambda

def str_to_list(str, decor_fn):
    print(f'String to list : {str}')
    return list(map(decor_fn, str.split()))

In [63]:
str_to_list('this is ranjan', lambda a: a.upper())

String to list : this is ranjan

['THIS', 'IS', 'RANJAN']

In [17]:
# *args (Arguments)

def add_numbers(*args):
    return sum(args)

In [18]:
add_numbers(10, 20, 30.3, 40.2)

100.5

In [19]:
# **kwargs (Keyword Arguments)

def say_hello(**kwargs):
    if 'name' in kwargs:
        print(f'Hello {kwargs["name"]}!')
    if 'age' in kwargs:
        print(f'You are {kwargs["age"]} years old')

In [20]:
say_hello(name='Ranjan', age = 30)

Hello Ranjan!
You are 30 years old

In [21]:
say_hello(name='Ranjan')

Hello Ranjan!

In [22]:
def hello():
    return 'Ranjan', 100

In [23]:
hello()

('Ranjan', 100)